@tailwind base;
@tailwind components;
@tailwind utilities;

.company {
    color: #000;
    background-color: #fdfdf8;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    line-height: 1.6;
    font-size: 18px;
    display: flex;
    align-items: center;
    position: relative;
}
